@use "node_modules/@yohns/picocss/scss/pico" with (
    $parent-selector: ".pico",
    $theme-color: "azure"
);

:root {
    select {
        width: auto;
    }

    td:first-child {
        width: 30%;
    }
}

/* Dark mode colors. */
:root {
    --sl-color-accent-low: #ffffff;
    --sl-color-accent: #3447ff;
    --sl-color-accent-high: #0172ad;
    --sl-color-white: #ffffff;
    --sl-color-gray-1: #eceef2;
    --sl-color-gray-2: #c0c2c7;
    --sl-color-gray-3: #888b96;
    --sl-color-gray-4: #545861;
    --sl-color-gray-5: #353841;
    --sl-color-gray-6: #24272f;
    --sl-color-black: #17181c;
    --theme-shade-subtle: rgba(0, 0, 0, 0.2);
}

/* Light mode colors. */
:root[data-theme='light'] {
    --sl-color-accent-low: #ffffff;
    --sl-color-accent: #0172ad;
    --sl-color-accent-high: #182775;
    --sl-color-white: #17181c;
    --sl-color-gray-1: #24272f;
    --sl-color-gray-2: #353841;
    --sl-color-gray-3: #545861;
    --sl-color-gray-4: #888b96;
    --sl-color-gray-5: #c0c2c7;
    --sl-color-gray-6: #eceef2;
    --sl-color-gray-7: #f5f6f8;
    --sl-color-black: #ffffff;
    --theme-shade-subtle: rgba(0, 0, 0, 0.1);
}

/* Style the Markdown heading links. */
.sl-markdown-content :is(h1, h2, h3, h4, h5, h6)>a {
    color: var(--sl-color-white);
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
    text-decoration-color: orange;
    text-underline-position: auto;
    text-underline-offset: 0.35em;
    transition: all .2s;

    &:hover {
        text-decoration: none;
    }
}

.pico button span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 1rem;
    height: 1rem;
    font-size: 0.75rem;
    font-weight: 600;
    color: rgb(30 64 175);
    background-color: rgb(191 219 254);
    border-radius: 9999px;
}

[x-sort] {
    cursor: pointer;
}

[class*="astro-"][role="tab"] {
    white-space: nowrap;
}

button.submit {
    border: 1px solid rgb(55, 65, 81);
}

.hidden {
    display: none;
}

/* Custom overrides for Box.astro */
.highlight-box {
    border-color: var(--box-border-color, var(--sl-color-orange));
    background-color: var(--box-bg-color, var(--sl-color-orange-low));
    color: var(--box-text-color, var(--sl-color-orange-high));
}

.highlight-box.check-list {
    border-color: var(--box-checklist-border-color, var(--sl-color-green));
    background-color: var(--box-checklist-bg-color, var(--sl-color-green-low));
}