<article class="live-code-layout">
  <slot name="code" />
  <main class="pico preview">
    <div>
      <slot name="example" />
    </div>
  </main>
</article>

<style>
  .live-code-layout {
    display: flex;
    flex-direction: column;
  }

  .pico {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.5rem;
  }

  :global(.sl-markdown-content) .preview {
    border: 1px solid var(--sl-color-gray-5);
    border-radius: 10px;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .preview:only-child {
    border-top: 1px solid var(--sl-color-gray-5);
  }

  :global(.sl-markdown-content) .preview-content {
    margin-top: 0;
    padding: 2rem;
  }
</style>